**Pandas** is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

In [1]:
# Lets see how we can access the data set and csv files using this powerful library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
patient_data=pd.read_csv('patients_data.csv')
patient_data.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,13,14,15,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Patient Number State Patient Number  ... Num Cases  Entry_ID
0             1.0             KL-TS-P1  ...       1.0       NaN
1             2.0             KL-AL-P1  ...       1.0       NaN
2             3.0             KL-KS-P1  ...       1.0       NaN
3             4.0                DL-P1  ...       1.0       NaN
4             5.0                TS-P1  ...       1.0       NaN

[5 rows x 22 columns]

In [2]:
# Lets just quickly first go thorugh quick basic things about this dataset
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77535 entries, 0 to 77534
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Patient Number                             77044 non-null  float64
 1   State Patient Number                       15980 non-null  object
 2   Date Announced                             77535 non-null  object
 3   Estimated Onset Date                       0 non-null      float64
 4   Age Bracket                                31277 non-null  object
 5   Gender                                     33934 non-null  object
 6   Detected City                              5306 non-null   object
 7   Detected District                          70022 non-null  object
 8   Detected State                             77527 non-null  object
 9   State code                                 77527 non-null  object
 10  Current Status                             77533 non-null  object
 11  Notes                                      34042 non-null  object
 12  Contracted from which Patient (Suspected)  1922 non-null   object
 13  Nationality                                1554 non-null   object
 14  Type of transmission                       2990 non-null   object
 15  Status Change Date                         27780 non-null  object
 16  Source_1                                   76078 non-null  object
 17  Source_2                                   4465 non-null   object
 18  Source_3                                   494 non-null    object
 19  Backup Notes                               361 non-null    object
 20  Num Cases                                  77532 non-null  float64
 21  Entry_ID                                   49349 non-null  float64
dtypes: float64(4), object(18)
memory usage: 13.0+ MB

In [5]:
print(' The given data set has almost records of ',patient_data.shape[0],' patients all over India')

 The given data set has almost records of  77535  patients all over India

In [6]:
patient_data.size

1705770

In [12]:
#Lets find all the NAN/ Null values in this dataset
patient_data.isnull().sum()

Patient Number                                 491
State Patient Number                         61555
Date Announced                                   0
Estimated Onset Date                         77535
Age Bracket                                  46258
Gender                                       43601
Detected City                                72229
Detected District                             7513
Detected State                                   8
State code                                       8
Current Status                                   2
Notes                                        43493
Contracted from which Patient (Suspected)    75613
Nationality                                  75981
Type of transmission                         74545
Status Change Date                           49755
Source_1                                      1457
Source_2                                     73070
Source_3                                     77041
Backup Notes                                 77174
Num Cases                                        3
Entry_ID                                     28186
dtype: int64

In [16]:
print(' The total number of male patients affected all over country are ',patient_data.Gender.value_counts()[0])
print(' The total number of female patients affected all over country are ',patient_data.Gender.value_counts()[1])

 The total number of male patients affected all over country are  22433
 The total number of female patients affected all over country are  11496

In [20]:
patient_data=patient_data.fillna(patient_data.mean())

In [21]:
patient_data.isnull().sum()

Patient Number                                   0
State Patient Number                         61555
Date Announced                                   0
Estimated Onset Date                         77535
Age Bracket                                  46258
Gender                                       43601
Detected City                                72229
Detected District                             7513
Detected State                                   8
State code                                       8
Current Status                                   2
Notes                                        43493
Contracted from which Patient (Suspected)    75613
Nationality                                  75981
Type of transmission                         74545
Status Change Date                           49755
Source_1                                      1457
Source_2                                     73070
Source_3                                     77041
Backup Notes                                 77174
Num Cases                                        0
Entry_ID                                         0
dtype: int64

In [29]:
patient_data['Detected State'].fillna('No State',inplace=True)

In [42]:
print('Lets find out the statistic State-Wise of detected COVID-19 patients ')
print(' Totalnumber of states affected in India are ',len(patient_data.groupby('Detected State')))

Lets find out the statistic State-Wise of detected COVID-19 patients
 Totalnumber of states affected in India are  37

## **TOP 5 AFFECTED STATE IN INDIA ARE :**
A group by is a process that tyipcally involves splitting the data into groups based on some criteria, applying a function to each group independently, and then combining the outputted results.

We will use the group by feature of python to help us find this statistical data

In [45]:
print('Top five affected states are as below ')
state=patient_data.groupby('Detected State')
state.size().nlargest(5)

Top five affected states are as below

Detected State
Tamil Nadu     23322
Maharashtra    10166
Karnataka       6242
Gujarat         4993
Bihar           4939
dtype: int64

In [47]:
print(' Top five affected city are ')
patient_data['Detected District'].value_counts().head()

 Top five affected city are

Chennai         14944
Mumbai           3269
Ahmedabad        2661
Indore           1291
Chengalpattu     1201
Name: Detected District, dtype: int64

**Lets find out the statistical count of how COVID-19 was transmitted.**

In [54]:
print('The various modes by which the COVID tarnsmitted are ',patient_data['Type of transmission'].unique())

The various modes by which the COVID tarnsmitted are  ['Imported' 'Local' 'TBD' nan 'Imported ' 'Unknown']

In [56]:
print(' The total number of patients affected by Local transmission are ',patient_data['Type of transmission'].value_counts()[0])

 The total number of patients affected by Local transmission are  1720

In [81]:
patient_data.groupby('Detected State')['Gender'].value_counts().head(20)

Detected State                            Gender
Andaman and Nicobar Islands               M            3
                                          F            2
Andhra Pradesh                            M          307
                                          F          110
Arunachal Pradesh                         M            1
Assam                                     M            5
                                          F            1
Bihar                                     M         3723
                                          F          564
Chandigarh                                M          119
                                          F          106
Chhattisgarh                              M           10
                                          F            7
Dadra and Nagar Haveli and Daman and Diu  F            2
Delhi                                     M           37
                                          F            9
Goa                                       M            6
Gujarat                                   M         1701
                                          F          961
Haryana                                   F           11
Name: Gender, dtype: int64

**TOP 5 AFFECTED AGE GROUP IN INDIA ARE**

In [86]:
print('As you can see below the maximum top 5 affected age group are ')
patient_data['Age Bracket'].value_counts().head()

As you can see below the maximum top 5 affected age group are

30.0    962
25.0    854
40.0    796
35.0    796
32.0    737
Name: Age Bracket, dtype: int64

The total number of people recovered and still being hospitalized

In [87]:
patient_data['Current Status'].value_counts()

Hospitalized      67766
Recovered          7767
Deceased           1979
Migrated_Other       17
Migrated              4
Name: Current Status, dtype: int64

In [88]:
print(' The total number of people recovered are ',patient_data['Current Status'].value_counts()[1])

 The total number of people recovered are  7767

In [89]:
print('TOP 10 cities affected in INDIA are ')
patient_data.groupby('Detected State')['Detected City'].value_counts().nlargest(10)

TOP 10 cities affected in INDIA are

Detected State  Detected City
Maharashtra     MCGM                108
                Thane               108
                Navi Mumbai          71
                PMC                  69
Chandigarh      Sector 26            68
Maharashtra     Vasai-Virar          61
Bihar           Sasaram              58
Maharashtra     Mira-Bhayandar       53
                Nagpur               51
                Kalyan-Dombivali     50
Name: Detected City, dtype: int64